//import modules

@use 'header/skin' as *;
@use 'footer/skin' as *;
@use 'botton_downl/skin' as *;
@use 'botton_add/skin' as *;

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
  }
  
  
  